     :root {
        --bg: #FFFCF7;
        --body: white;
        --nav: #d0d9e8;
        --subnav:#e7f0ff;
        --idk: #738290;
        --menu: #A1B5D8;
        --kontrast1:white;
        --kontrast2:black;
        --table:#FBFFF1;
    } 

    .kontejner {
        margin: auto;
        width: 70vw;
        height: 75vh;
        margin-top: 15vh;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .kontejner>div {
        box-shadow: 0px 2px 4px var(--idk);
    }
    
    
    .menu {
        display: flex;
        justify-content: space-between;
        background-color: var(--menu);
        font-size: 18px;
        z-index: 999;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        color:var(--kontrast2)
    }
    .navbar >ul {
        border-top-right-radius: 20px;
        margin: 0;
        padding: 0;
        background-color: var(--nav);
        display: flex;
        list-style: none;
        height: 100%;
    }
    
    .navbar>ul li {
        position: relative;
    }
    
    .navbar> ul li a {
        flex: 1;
        display: flex;
        padding: 1vh 1.5vw;
        color: var(--kontrast2);
        transition-duration: 0.4s;
    }
    .navbar >ul li:last-child>a{
        border-top-right-radius: 20px;
    }
    .navbar>ul li a:hover {
        background-color: black;
        color: var(--navbutton);
    }
    
    .navbar>ul li ul {
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 999;
        display: none;
        height: auto;
        box-sizing: border-box;
        align-items: center;
        justify-items: center;
        box-shadow: 1px 2px 4px var(--idk);
        border-bottom-right-radius: 20px;
    }
    
    .navbar> ul li ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
    }
    .navbar >ul li ul li:last-child>a{
        border-top-right-radius: 0;
    }
    .navbar> ul li ul li a {
        justify-content: center;
        background:var(--subnav);
    }
    
    .navbar>ul li:focus-within ul,
    .navbar>ul li:hover ul {
        display: flex;
        flex-direction: column;        
    }
    
    .logo {
        background-image: url("logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 4vw;
        padding: 1vh;
        transition-duration: 0.4s;
    }
    
    .logo:hover {
        background-color: var(--kontrast1);
    }
    
    .navtext {
        padding: 1vh;
        text-align: center;
        color: var(--kontrast2);
    }
    
    .footer {
        background-color: var(--menu);
        padding: 1vh;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
    
    
    #menu-bar {
        display: none;
    }
    
    .menu label {
        display: none;
    }
    
    @media screen and (max-width: 925px) {
        .kontejner {
            width: 95vw;
            height: 97vh;
            margin: auto;
        }
        .menu {
            position: absolute;
            flex-direction: column;
            width: inherit;
            justify-items: center;
            align-items:flex-end;
        }
        .kontent {
            position: relative;
            margin-top: 55px;
        }
        .menu> label {
            display: initial;
            padding:10px 30px 10px 0;
        }
        .navbar {
            display: none;
            width: 100%;
        }
        .navbar ul {
            flex-direction: column;
            width: inherit;
            border-top-right-radius: 0;
        }
        .navbar > ul li {
            position: relative;
            width: 100%;
        }
        .navbar > ul li a {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            padding-right: 30px;
            box-sizing: border-box;
        }
        .navbar > ul li ul {
            position: relative;
            width: 100%;
        }
        .navbar > ul li ul li a {
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            margin-right: 20px;
            box-sizing: border-box;
        }
        #menu-bar:checked ~ .navbar {
            display: flex;
        }
        .logo,
        .navtext {
            display: none;
        }
    }